.logo{
	text-transform: uppercase;
	font-weight: 800;
	color: #fff;
	font-size: 25px;
}

header{
	background-color: #EDBE00;
	padding: 8px 0px;
	box-shadow: 0 0 5px 0px #000000;
	color: #fff;
}

a{
	text-decoration: none;
}

.contactus1{
	 color: #fff;
    font-weight: 700;
    padding: 8px 40px;
}
.contactus{
	color: #000;
    font-weight: 700;
    padding: 8px 40px;
    background-color: #fff;
    transition: all .8s;
	border-radius: 7px;
}
.contactus:hover{
	background-color: #61CE70;

	color: #fff;

}

.slider{
/*
		background-image: url(../images/bg1.jpg);

	padding: 20px 0px;
	background-size: cover;
	background-attachment: fixed;
	padding: 100px 0px;*/
	background-repeat: no-repeat;
padding: 50px 0px;
		margin-top: 3px;
		box-shadow: 0 0 5px 0px #000000;

}

.slideimg img{
border-radius: 10px;
		box-shadow: 0 0 5px 0px #000000;
		animation-name: slider;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	transition: all .9s;
}
.sliderText h1{
	text-transform: uppercase;
	font-weight: 800;
}
.call{
	font-weight: 900;
	font-size: 25px;
}
.slidepera{
	font-size: 14px;
	font-weight: 600;
}


.contactus2{
	color: #fff;
    font-weight: 700;
    padding: 8px 40px;
    background-color: #fff;
    margin-top: 3%;
    display: inline-block;
    	background-color: #61CE70;
    transition: all .8s;
	border-radius: 7px;
}
.contactus2:hover{
	background-color: #069;
	color: #fff;
}

/*

	animation-name: slider;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes slider{
	20%{
	background-image: url(../images/2.jpg);	
	}
	40%{
	background-image: url(../images/3.jpg);	
	}
	60%{
	background-image: url(../images/1.jpg);	
	}
	80%{
	background-image: url(../images/2.jpg);	
	}
	100%{
	background-image: url(../images/3.jpg);	
	}
}
*/

@keyframes slider{
	20%{
 transform: rotate(2deg);
	}
	40%{
	 transform: rotate(-2deg);
	}
	60%{
	
	}
	80%{
		
	}
	100%{
		
	}
}

.ffText{
	font-weight: 800;
	color: #fff;
	font-size: 30px;
}
.bgYY{
	background-color: #EDBE00;
	padding: 30px 0px;
	color: #fff;
}


@media screen and (min-width: 200px) and (max-width: 1200px){
.logoText{
  text-align: center;
}
.contactus{
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}

.contactus1, .logo, .contactus2 {
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}
.sliderText h1, .slidepera, .call, .ffText {
    text-align: center;
}
}

.textBoxCasino{
	box-shadow: 0 0 5px 0px #000000;
	padding: 10px 20px;
	border-radius: 5px;
	text-align: justify;
}
.headingTextCasino{
	font-size: 20px;
	font-weight: 600;
	padding: 20px 0px;
}






/*404 Error Page ==========>*/


/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(../images/404.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}




	/* fixed social*/
#fixed-social {
   position: fixed;
   top: 130px;
}

#fixed-social a {
   color: #fff;
   display: block;
   height: 40px;
   position: relative;
   text-align: center;
    line-height: 40px;
   width: 40px;
   margin-bottom: 1px;
   z-index: 2;
}
#fixed-social a:hover>span{
	visibility: visible;
  left: 41px;
  opacity: 1;
} 
#fixed-social a span {
	line-height: 40px;
    left: 60px;
    position: absolute;
    text-align: center;
    width: 120px;
    visibility: hidden;
    transition-duration: 0.5s;
    z-index: 1;
    opacity: 0;
}
 .fixed-facebook{
 	background-color: #00AAE5;
 }
 .fixed-facebook span{
	background-color: #00AAE5;
 }
 .fixed-twitter{
	background-color: #7D3895;

 }
 .fixed-twitter span{
 	background-color: #7D3895;
 }
 .fixed-gplus{
	background-color: #00AF54;

 }
 .fixed-gplus span{
 	background-color: #00AF54;
 }
 .fixed-linkedin{
	background-color: #FFC41E;

 }
 .fixed-linkedin span{
 	background-color: #FFC41E;
 }
 .fixed-instagrem{
	background-color: #ED2B29;

 }
 .fixed-instagrem span{
 	background-color: #ED2B29;
 }
 .fixed-tumblr{
	background-color: #EB1471;

 }
 .fixed-tumblr span{
 	background-color: #EB1471;
 }
/*end fixed social*/